{% extends 'base.html' %}
{%  load i18n %}

{% block title %}{{ oem.oemname }}管理系统 | 项目管理{% endblock %}

{% block css %}
    <link href="/static/css/plugins/footable/footable.core.css" rel="stylesheet">
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock css %}

{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>账号管理</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/audits/home/">主页</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>项目管理</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>分配给此账户的所有可管理项目</h5>
                        <div class="ibox-tools">
                            <button data-toggle="modal" href="#addproject-form" class="btn btn-primary btn-xs">{% trans 'create' %}</button>
                            <button data-toggle="modal" href="#editproject-form" class="btn btn-warning btn-xs editproject">{% trans 'edit' %}</button>
                            <button data-toggle="modal" class="btn btn-danger btn-xs delproject">{% trans 'delete' %}</button>
                        </div>
                        <div class="modal inmodal fade" id="addproject-form" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                                class="sr-only">{% trans 'Close' %}</span></button>
{#                                        <i class="fa fa-laptop modal-icon"></i>#}
                                        <h4 class="modal-title">{% trans 'create project' %}</h4>
{#                                        <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>#}
                                    </div>
                                    <div class="modal-body">
                                        <form class="am-form" id="addproject_form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="form-group"><label>项目</label>
                                                <input type="text" id="project" name="project" minlength="2" maxlength="32" placeholder="输入项目名"
                                                       class="form-control" required>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" id="addproject">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-1">
                                <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
                            </div>
                            <div class="col-md-11">
                                <div class="input-group"><input type="text" id="filter" placeholder="搜索" class="form-control-sm form-control"> <span
                                        class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span></div>
                            </div>
                        </div>

                        <div class="project-list table-responsive">
                            <table class="footable table table-stripped user-table" data-page-size="8" data-filter=#filter data-limit-navigation="5">
                                <thead>
                                <tr>
                                    <th data-sort-ignore="true"><input type="checkbox" class="i-checks checkall"></th>
                                    <th>状态</th>
                                    <th>项目</th>
{#                                    <th data-hide="phone,tablet">操作</th>#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in project %}
                                    <tr class="project">
                                        <td><input type="checkbox" class="i-checks" name="input[]"
                                               projectid="{{ row.id }}"  project="{{ row.project }}">
                                        </td>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-project">
                                            <span>{{ row.project }}</span>
                                            <br/>
                                            <small>创建 {{ row.ctime|date:'Y-m-d' }}</small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    编辑项目#}
    <div class="modal inmodal fade" id="editproject-form" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">{% trans 'Close' %}</span></button>
{#                                        <i class="fa fa-laptop modal-icon"></i>#}
                    <h4 class="modal-title">编辑项目</h4>
{#                                        <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>#}
                </div>
                <div class="modal-body">
                    <form class="am-form" id="editproject_form">
                        {% csrf_token %}
                        <input hidden id="editid" name="id">
                        <div class="form-group">
                            <div class="form-group"><label>项目</label>
                            <input type="text" id="editpro" name="project" minlength="2" maxlength="32" placeholder="输入项目名"
                                   class="form-control" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="editproject">保存</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/plugins/footable/footable.all.min.js"></script>
    <!-- iCheck -->
    <script src="/static/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Jquery Validate -->
    <script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/js/plugins/validate/messages_zh.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.footable').footable();
            $("#addproject_form,#editproject_form").validate();

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true);
                location.reload();

                // Ajax example
//                $.ajax().always(function () {
//                    simpleLoad($(this), false)
//                });

                simpleLoad(btn, false)
            });
            menuActive();
            checkRadio();
            addProject();
            editProject();
            delProject();
        });
        function menuActive() {
            $('#project-menu').addClass('active');
        }
        function addProject() {
            $('#addproject').click(function () {
                if($("#addproject_form").valid()) {
                    $.ajax({
                        url: '/authen/projectadd/',
                        type: 'POST',
                        data: $('#addproject_form').serialize(),
                        dataType: 'JSON',
                        traditionail: true,
{#                        headers: {'X-CSRFtoken': $.cookie('csrftoken')},#}
                        success: function (obj) {
                            if (obj.status) {
                                location.reload();
                            } else {
                                yuAlert('error', '您好 {{ loginuser.username }}', obj.error);
                            }
                        }
                    })
                }
            });
        }
        function editProject() {
            $('.editproject').click(function () {
                var radio = $("input[name='input[]']:checked");
                $('#editproject_form #editid').val(radio.attr('projectid'));
                $('#editproject_form #editpro').val(radio.attr('project'));
                if(radio.attr('project')=='admin'){ {# 如果项目是admin，项目名不能被编辑 #}
                    $('#editproject_form #editpro').attr('readonly','readonly');
                }
            });
            $('#editproject').click(function () {
                if($("#editproject_form").valid()) {
                    $.ajax({
                        url: '/authen/projectedit/',
                        type: 'POST',
                        data: $('#editproject_form').serialize(),
                        dataType: 'JSON',
                        traditionail: true,
{#                        headers: {'X-CSRFtoken': $.cookie('csrftoken')},#}
                        success: function (obj) {
                            if (obj.status) {
                                location.reload();
                            } else {
                                yuAlert('error', '您好 {{ loginuser.username }}', obj.error);
                            }
                        }
                    })
                }
            });
        }
        function delProject() {
            $('.delproject').click(function () {
                var peojectid = [];
                $("input[name='input[]']:checked").each(function () {
                    if($(this).attr('project')!='admin') { {# 删除的项目不能是admin #}
                        peojectid.push($(this).attr('projectid'));
                    }
                });
                $.ajax({
                    url: '/authen/projectdel/',
                    type: 'POST',
                    data: {'idlist':peojectid},
                    dataType: 'JSON',
                    traditionail: true,
                    headers: {'X-CSRFtoken': $.cookie('csrftoken')},
                    success: function (obj) {
                        if (obj.status) {
                            location.reload();
                        } else {
                            yuAlert('error', '您好 {{ loginuser.username }}', obj.error);
                        }
                    }
                })
            });
        }
    </script>
{% endblock %}
